   /* ----------  RESET CSS ----------------- */

   /* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
       display: block;
   }

   body {
       line-height: 1;

   }

   ol, ul {
       list-style: none;
   }

   blockquote, q {
       quotes: none;
   }

   blockquote:before, blockquote:after,
   q:before, q:after {
       content: '';
       content: none;
   }

   table {
       border-collapse: collapse;
       border-spacing: 0;
   }

   /* =============================================================
                  begin MOSTLY STYLE
============================================================= */

   /* =============  BASE STYLES  ==================*/
   body * {
       box-sizing: border-box;
       font-family: 'Kanit', sans-serif;
       font-size: large;

   }

   a, a:active {
       text-decoration: none;
       color: inherit;
   }

   body {
       background: rgb(117, 105, 93)
   }

   h1 {
       font-size: 1.2em;
       color: rgb(34, 70, 37);
   }

   h2 {
       font-size: 1.4em;
   }

   h4 {
       font-size: 1.2em;
   }

   h5 {
       font-size: 1.2em;

       padding-top: 20px;
       padding-bottom: 5px;
   }

   /* =============  HEADER ==================*/
   header {
       display: flex;
       justify-content: space-around;
       align-items: center;
       height: 6vh;
       position: fixed;
       width: 100vw;
       text-align: center;
       z-index: 4;
       line-height: 1.5em;
       background: linear-gradient(360deg, rgb(202, 199, 199), rgba(243, 243, 243, 0.844));
   }

   /* home button */
   nav.home {
       color: rgb(2, 2, 2);
       font-size: 10px;
       box-shadow: 2px 2px 10px rgb(255, 255, 255);
       padding: 0 15px;
       height: 35px;
       width: 130px
   }




   nav.home:hover {
       background-color: rgb(159, 172, 158);
       box-shadow: 2px 2px 10px rgb(255, 255, 255);
   }

   /* =============  OPTIONAL STYLES ==================*/
   .centerText {
       text-align: center;
   }

   .hidden {
       visibility: hidden;
   }

   /* default img size is set to 75% by default*/
   img {
       width: 75%;
   }

   /* these img classes can be used to adjust specific blog entries' images */
   .img100 {
       width: 100%;
   }

   .img65 {
       width: 67%;
   }

   .img50 {
       width: 50%;
   }


   /* ==========   INFO DROPDOWN IN TOP LEFT OF SCREEN  ================*/

   /* ======   DROPDOWN FUNCTIONALITY     =======*/

   input#boxCheck {
       /* checkbox */
       visibility: hidden;
   }

   input#boxCheck2 {
       /* checkbox */
       visibility: hidden;
   }

   .infoDropdown {
       display: none;
   }

   /* INFO dropdown properties --- it is displayed with :hover below by default and with :checked on mobile query 1200px */
   #infoDropdown {
       position: absolute;
       z-index: 3;
       display: none;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       top: 6vh;
       left: 1vw;
       height: 220px;
       width: 70vw;
       background-color: rgb(218, 233, 215);
       color: rgb(7, 7, 6);

   }

   input#boxCheck:hover~#infoDropdown {
       display: flex;
   }

   /* this is supposed to change caret sideways to caret-down with JS, doesn't work yet */
   .fa-caret-down.hidden {
       display: none;
   }

   /* X to close previous ^^ description block for mobile only -hidden here until mobile query 1200px */

   .XtoCloseContainer {
       display: none;
   }

   /*------ info dropdown styles --------*/

   .fa-play {
       font-size: .8rem;
       padding-right: 10px;
   }

   .infoLabelContain {
       height: 35px;
       box-shadow: 2px 2px 10px rgb(255, 255, 255);
   }

   .infoLabel p {
       width: 130px
   }

   .infoLabel p:hover {
       background: rgb(159, 172, 158);
   }

   /*  ------- END of  INFO dropdown ------------- */

   /* =================================== BEGIN KYU CONTAINER =================================== */

   /* -------------- KYU CONTAINER ------------------------------- */
   .comingSoon {
       margin: 20px auto;
   }

   /*for kyu's that don't have content yet -- tried to make transparent*/
   .transparentGreyOverlay {
       background: rgba(124, 114, 102, 0.61);
       position: relative;
       z-index: 3;
       width: 100%;
       height: 100%;
   }

   /* ====================== BEGIN 'DISPLAY DROPDOWN CONTENT' STYLES ================================= */

   .title {
       display: flex;
       align-items: center;
       justify-content: center;
       background: rgb(238, 216, 143);
       font-size: 1.7rem;
       font-weight: 700;
       word-spacing: 10px;
       letter-spacing: 1px;
       height: 2em;
       margin-bottom: 10px;
       color: rgb(69, 84, 85);
       /* text-shadow: 4px 4px #ffffff; */
       -webkit-text-fill-color: rgb(55, 66, 56);
       /* -webkit-text-stroke-color: rgba(41, 49, 38, 0.76); */
       /* -webkit-text-stroke-width: .5px; */
   }

   .solution {
       color: rgb(56, 47, 31);
       margin-bottom: 10px;
   }

   .best {
       color: rgb(24, 97, 24);
       margin-bottom: 10px;
   }

   .tryIt {
       color: rgb(27, 90, 90);
       font-weight: 500;
       font-size: 1.4rem;

       padding-bottom: 10px;
   }

   .result {
       width: 50%;
       margin: auto 25%;
       min-height: 3em;
       border: 1px solid grey;
       margin-top: 20px;
   }

   .marginTop {
       margin-top: 10px;
   }

   .fa-star {
       color: orange;
       font-size: .5em;
   }

   /* this is to help space the list items, it uses a hidden star */
   div .spacer-hide {
       visibility: hidden;
   }

   .bold {
       font-weight: 600;
       color: rgb(207, 109, 29);
   }

   button {
       min-width: 100px;
       width: auto;
       height: 2em;
       background: rgb(170, 180, 163);
   }

   button:hover {
       background: rgb(132, 189, 127);
   }

   .resetButton {
       background: rgb(240, 210, 147);
   }

   .resetButton:hover {
       background: rgb(247, 158, 42);
   }

   .assignmentParagraph {

       margin: auto 10%;
       line-height: 1.3em;
   }

   .assignmentSmallerText {
       font-size: 1.2em;
       margin-top: 20px;
   }


   section.assignmentSmallerText {
       display: flex;
       justify-content: space-evenly
   }


   /* -------------- END OF DROPDOWN STYLES ------------------------------- */

   /* -------------- END OF MOSTLY STYLES ------------------------------- */

   /* =================================================================
                  begin LAYOUT
================================================================================ */
   main, .kyu, .dropdown, .kyu h3, .displayDailySolutionContainer, ul.kyuNav, .kyuNav li {
       display: flex;
   }


   /* ================= kyu navigation bar ======================================== */
   /* this section can be deployed once there are lots of list items; 
it is a NAV BAR FOR KYU SECTIONS, the style and layout is all here, but it might 
need some work with where it navigates to (into center of kyu sections) */

   ul.kyuNav {
       flex-direction: row;
       background: rgb(83, 72, 72);
       height: 40px;
       width: 20vw;
       /* ---this 'top' matches the header height, if changed must change header height as well --- */
       position: fixed;
       top: 6vh;
       z-index: 2;
       justify-content: space-evenly;
       align-items: center;
       border-radius: 4px;
   }

   .kyuNav a {
       text-decoration: none;
       color: rgb(199, 149, 56);
       background: none;
       font-size: larger;
   }

   .kyuNav li {
       border: 1px solid black;
       flex-basis: 10%;
       height: 80%;
       align-items: center;
       justify-content: center;
   }

   .kyuNav li:hover {
       background: rgb(206, 212, 172);
   }

   /* ===============end of kyu navigation bar =================================== */
   main {

       color: rgb(30, 31, 30);
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       justify-content: space-between;
       gap: 3%;
       margin: auto 5vw;
   }

   /* positioned to left side of screen */
   .kyuVerticalContainer {
       margin: 9vh 0;
       flex-basis: 20vw;
   }

   section.kyu {
       text-align: center;
       margin: 15px auto;
       background: rgb(153, 145, 135);
       height: auto;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
       position: relative;
       z-index: 1;
       scrollbar-width: 1px;
       /* flex-basis: 18vw; */
   }

   .kyu h3 {
       justify-content: center;
       align-items: center;
       margin-bottom: 10px;
       height: 30px;
       color: rgb(182, 181, 126);
       background: rgb(70, 64, 64);
       width: 20vw;
   }


   /* to remove margin from section top to match the display container*/
   section.kyuVerticalContainer section:first-child {
       margin-top: 0;
   }

   /* --------     main block that displays for each daily codewars item                                ---------
-----------    JS make it 'stick' when clicked, but it also displays on mouse hover for a preview    -------- 
dropdown - list items in left navgation bar |  dropdown-content - the content that is displayed when .dropdown item is clicked*/
   .dropdown {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       width: 15vw;
       align-items: center;
       position: relative;
       height: 33px;
       border-bottom: 1px solid rgb(160, 170, 160);
       color: rgb(44, 35, 23);
   }

   .displaySolutionContainer {
       position: fixed;
       top: 10.5vh;
       right: 5vw;
       z-index: 1;
       background: rgb(153, 145, 135);
       width: 67vw;
       height: 100vh;
   }

   .dropdown-content {
       display: none;
       position: fixed;
       right: 5vw;
       /* if changing this top also change kyuVerticalContainer  and  displaySolutionContainer  TOP + RIGHT + width*/
       top: 10.5vh;
       background-color: rgb(153, 145, 135);
       width: 67vw;
       height: 100%;
       box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
       padding: 12px 16px;
       z-index: 4;

   }

   .dropdown.last, .dropdownTest.last {
       border-bottom: none;
       margin-bottom: 10px;
   }

   /* .dropdown:hover+.dropdown-content {
    display: block;
    }

    .dropdown:hover .dropdown-content {
    display: block;
    } */

   .dropdown:hover {
       background-color: rgba(252, 235, 88, 0.486);
   }

   /* thge message in the "display container" when you load page (before you click an item) */
   .displaySolutionContainer h5, .displaySolutionContainer p {
       color: #a73f0e;
       margin: 5vh 10vw 0 10vw;
       line-height: 2em;

   }

   /* -----------      js uses 'stick' to make blocks stick until next one is clicked */

   .stick {
       display: block;
       z-index: 1;
   }

   /* -----------      js uses stickHover to make blocks show preview of block on mouseenter/ hides on mouse leave */
   /* stickHover is removed for mobile query <1000px because it made the poppups (sticks) not work on mobile */
   .stickHover {
       display: block;
       z-index: 4;
   }


   /* dropdown from harirsalon? */
   /* input#boxCheck {
    /*checkbox*/
   /* visibility: hidden; */



   /* input:checked~#dropDownItems {
    display: flex;
    flex-flow: column;
    align-items: space-between;
    justify-content: flex-start;
    height: 200px;
} */

   @media screen and (max-width: 1200px) {


       .XtoCloseContainer {
           display: block;
           right: 10px;
           top: 15px;
       }

       /* formating for 2 sections side by side */
       .assignmentSmallerText {
           font-size: .7em;

       }

       .assignmentSmallerText>.divFirst {
           border-right: solid 1px black;
       }

       .fa-rectangle-xmark {
           font-size: 1.5em;
           color: rgb(255, 82, 1);
       }

       input#boxCheck:checked~#infoDropdown {
           display: none;
       }


   }

   @media screen and (max-width: 1000px) {
       * {
           font-size: 2.2rem;
       }

       img {
           width: 100%;
       }

       main {
           margin: auto 0vw;
       }

       header {
           height: 110px;
       }

       .dropdown {

           width: 15vw;

       }

       h1, .infoLabel {
           font-size: 1.4rem;
       }

       .home {
           font-size: 35px;
       }

       .dropdown {
           height: 50px;
       }

       .kyu h3 {
           font-size: 1.4rem;
           height: 60px;
           display: flex;
           align-items: center;
       }

       section.kyuVerticalContainer {
           margin: 6vh 0;
           flex-basis: 10vw;
       }

       section.kyu {
           margin: 0px auto;
       }

       .displaySolutionContainer {
           position: fixed;
           top: 6vh;
           right: 0vw;
           z-index: 1;
           background: rgba(255, 255, 255, 0.356);
           width: 80vw;
           height: 100%;
       }

       .dropdown-content {
           position: fixed;
           right: 0vw;
           /* if changing this top also change kyuVerticalContainer  and  displaySolutionContainer  TOP + RIGHT + width*/
           top: 6vh;
           background-color: #f9f9f9;
           width: 80vw;
           height: auto;
           box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
           padding: 12px 16px;
           z-index: 4;
           overflow-y: scroll;
       }
   }